<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> about this project </title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1> about this project </h1>
        <h2> this is a basic flask app written in python </h2>
        <h3> this app will be deployed using apache server </h3>
        {% endblock %}
    </body>
</html>