<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>deploy flask using apache like a jedi</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <h1> these are not servers you are looking for </h1>
        <p> come to the dark side. we have cookies </p>
        {% endblock %}
    </body>
</html>