<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> flask parent template</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">flask deployed with apache</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">home</a></li>
                        <li><a href="{{ url_for('about') }}">about</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>